/* Put here your custom styles */

.debugging-border {
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
  border-radius: 5px; 
  padding: 10px;
  margin: 10px;
}

md-card {
  margin-top: 100px !important;
}