<md-content layout="column" layout-align="center center">
  <md-card flex="30">
    <md-list class="md-dense" flex>
      <md-subheader class="md-no-sticky">Users <md-button ui-sref="register">ADD</md-button></md-subheader>
      <md-list-item class="md-3-line" ng-repeat="user in vm.users">
        <!--{{user}}-->
        <div class="md-list-item-text" layout="column">
          <h3>{{ user.user.email }}</h3>
          <h4>{{ user.user.bio }}</h4>
          <p>{{ user.user.roles.includes(1) ? 'Admin' : 'User'}}</p>
        </div>
        <md-button ng-click="vm.editUser(user)">EDIT</md-button>
        <md-button ng-click="vm.deleteUser(user)">DELETE</md-button>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>
  </md-card>
</md-content>