
<md-toolbar layout="row" md-whiteframe="4" layout-align="center center">

    <md-button ui-sref="home">Home</md-button>
    <md-button  ui-sref="users">Users</md-button>
    <md-button ui-sref="login">Login</md-button>

</md-toolbar>